* {
  font-family: "unbounded", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}
body {
  text-align: center;
}

/* NAV */
.nav-icon {
  width: 4rem;
  height: 4rem;
}

.navbar-brand {
  font-size: 3rem;
}

/* POKEMON LIST */
.list-group {
  display: inline-block;
}

.list-group-item {
  list-style: none;
  display: inline-block;
  width: 20rem;
  height: 5rem;
  border: none;
}

/* MODAL */
.modal-dialog {
  max-width: 500px;
}
.modal-content {
  box-shadow: 0.1rem 0.2rem 0.4rem black;
  padding: 1rem;
  background: linear-gradient(to top, rgb(201, 200, 199), white);
  border: none;
}
.modal-header {
  border: none;
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  border-bottom: 0.1rem rgb(100, 100, 100) solid;
  display: flex;
  justify-content: space-between;
}
.modal-title {
  text-transform: uppercase;
  font-weight: bold;
}
.modal-img {
  width: 8rem;
  height: 8rem;
  display: flex;
  align-self: center;
}

.modal-adjContainer {
  padding-top: 1rem;
  background-color: white;
  box-shadow: 0.1rem 0.1rem 0.3rem black;
  border-radius: 0.2rem;
}
.modal-body--typesBox {
  text-align: left;
}
.modal-body--abilitiesBox {
  text-align: left;
}

/* FOOTER */
.modal-footer {
  border: none;
}

/* BUTTONS */
.pokemon-list--btn {
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  background: linear-gradient(to left top, lightblue, #e0ecec);
  border: none;
}

button:hover {
  transition: ease-in 0.15s;
  box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.685);
  cursor: pointer;
}

.pokemon-list--btn:hover {
  background: linear-gradient(to left top, #e0ecec, rgba(173, 216, 230, 0.342));
  box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.685);
}

button {
  text-transform: uppercase;
  border: none;
  font-weight: bold;
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.685);
}
