* {
  font-family: "unbounded", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}
body {
  text-align: center;
}

.container-fluid {
  padding: 5rem 2rem;
}

.d-inline-block {
  width: 5rem;
  height: 5rem;
}
.navbar-brand {
  font-size: 3rem;
}

.modal-dialog {
  max-width: 500px;
}

.modal-content {
  padding: 1rem;
}
.modal-header {
  border: none;
  padding: 0rem 0rem 2rem 0rem;
}
.modal-title {
  text-transform: uppercase;
}

.modal-img {
  max-width: 200px;
  max-height: 200px;
  display: flex;
  align-self: center;
}

.list-group {
  display: inline-block;
}

.list-group-item {
  list-style: none;
  display: inline-block;
  width: 20rem;
  height: 5rem;
  border: none;
}
.pokemon-btn {
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: lightblue;
  border: none;
}
button {
  text-transform: uppercase;
  border: none;
  font-weight: bold;
  color: rgb(7, 7, 99);
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.685);
}

button:hover {
  transition: ease-in 0.1s;
  cursor: pointer;
  box-shadow: none;
  background-color: #e0ecec;
}

.modal-header .close {
  padding: 0.5rem;
}
